<div class="login-page">
  <div class="welcome-side">
    <h1>Hello, Welcome</h1>
    <h2>Manage your inventory efficiently and easily.</h2>
    <p>
      Enjoy an easy to use inventory system for the management of 
      your business products.
    </p>
  </div>

  <div class="login-box" [ngClass]="{ 'shake': shake }">

    <h2>Inventory System</h2>
    <p>Enter your account details</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Username -->
      <div class="input-group">
        <input
          type="text"
          placeholder="Enter Username"
          formControlName="username"
          [class.invalid]="loginForm.get('username')?.touched && loginForm.get('username')?.invalid"
        >
        <i class="fas fa-user"></i>
      </div>

      <div class="error"
        *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
        <span *ngIf="loginForm.get('username')?.errors?.['required']">
          Username is required
        </span>
      </div>

      <!-- Password -->
      <div class="input-group">
        <input
          type="password"
          placeholder="Enter Password"
          formControlName="password"
          [class.invalid]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
        >
        <i class="fas fa-lock"></i>
      </div>

      <div class="error"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">

        <span *ngIf="loginForm.get('password')?.errors?.['required']">
          Password is required
        </span>

        <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
          Password must be at least 4 characters
        </span>
      </div>

      <button type="submit">Login</button>

    </form>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

  </div>
</div>